.paginate-list {
  padding: 10px;
  width: 100%;
  box-sizing: border-box;
  min-height: 100%;
  overflow-y: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.paginate-list__nav {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: auto;
}
.paginate-list__nav-button {
  width: 50px;
  height: 20px;
  border-radius: 10px;
  padding: 2px;
  margin: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #1bd8e6;
  cursor: pointer;
}
.paginate-list__items {
  width: 100%;
}
.paginate-list__empty-msg {
  text-align: center;
}
.paginate-list__nav-button.disabled {
  background-color: rgb(211, 211, 211);
}

