.header {
  height: 100px;
  display: flex;
  background-color: rgb(68, 73, 77);
  padding: 5px;
  align-items: center;
}
.logo {
  height: 100%;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 24pt;
  margin: 0 20px;
  color: white;
}
.logo__img {
  height: 100%;
}
.logo__title {
  margin: 0;
  text-decoration: none;
  color: white;
}
.header__nav {
  display: flex;
  align-items: center;
  height: 100%;
  margin: 0 50px 0 20px;
  transform: translateY(1px);
}
.nav_type_auth {
  margin-left: auto;
}
.nav_type_auth > .header__nav-link {
  font-size: 12pt;
}
.header__nav-link {
  display: block;
  color: white;
  text-decoration: none;
  margin: 0 20px;
  font-size: 14pt;
  white-space: nowrap;
  cursor: pointer;
}